@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: hsl(240, 78%, 98%);
  min-height: 100vh;
  background-image: url(images/bg-top.svg), url(images/bg-bottom.svg);
  background-position: right top, left bottom;
  background-repeat: no-repeat;
}
.container {
  min-width: 1200px;
  margin: 0 auto;
}
.wrapper {
  padding: 60px 20px;
  text-align: center;
}
.title {
  font-size: 32px;
  color: hsl(233, 13%, 49%);
}
button {
  background: Linear-gradient(180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  height: 30px;
  width: 60px;
  border-radius: 20px;
  border: 0;
  outline: 0;
  cursor: pointer;
  transition: background 0.5s;
}
button span {
  display: block;
  background: white;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: 2px;
  transition: background 0.5s, margin-left 0.5s;
}
.pricing {
  color: hsl(234, 14%, 74%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing button {
  margin: 0 20px;
}
.pricing-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
ul {
  list-style: none;
  padding: 3px 0;
}
ul li {
  color: hsl(233, 13%, 49%);
  border-bottom: 1px solid hsl(234, 14%, 74%);
  padding: 18px 0;
}
ul li:first-child {
  border-top: 1px solid hsl(234, 14%, 74%);
}
.pricing-box {
  background: #fff;
  padding: 50px 40px;
  border-radius: 12px;
  align-self: center;
}
.box-title {
  color: hsl(234, 14%, 74%);
  font-size: 18px;
  margin-bottom: 30px;
}
.price-annually,
.price-monthly {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(232, 13%, 33%);
}
.price-monthly {
  display: none;
}
.price {
  font-size: 65px;
  padding-left: 7px;
}
a {
  text-decoration: none;
  text-transform: uppercase;
  list-style: 2px;
  background: Linear-gradient(180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  width: 100%;
  display: block;
  padding: 16px 0;
  color: #fff;
  border: 1px solid transparent;
  border-radius: 7px;
}
a:hover {
  color: hsl(237, 63%, 64%);
  background: transparent;
  border-color: hsl(237, 63%, 64%);
}
.pricing-box.featured {
  background: linear-gradient(180deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  padding: 80px 40px;
  transform: scaleX(1.05);
}
.pricing-box.featured p {
  color: #fff;
}
.pricing-box.featured ul li {
  color: #fff;
}
.pricing-box.featured a {
  background: #fff;
  color: hsl(237, 63%, 64%);
}
.pricing-box.featured a:hover {
  color: #fff;
  border-color: #fff;
  background: transparent;
}

.active span {
  background: #fff;
  margin-left: 31px;
}
@media only screen and (max-width: 1024px) {
  body {
    font-size: 14px;
  }
  .price {
    font-size: 50px;
  }
  .pricing-box {
    padding: 40px 30px;
  }
  .pricing-box.featured {
    padding: 70px 30px;
  }
}
@media only screen and (max-width: 820px) {
  .pricing-main {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .price {
    font-size: 50px;
  }
  .pricing-box {
    padding: 50px;
  }
  .pricing-box.featured {
    transform: scaleX(1);
    padding: 50px;
  }
  .container {
    min-width: 30%;
  }
}
